<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhh.dao.IMenuDao" >
  <resultMap id="BaseResultMap" type="com.zhh.entity.base.Menu" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="menu_url" property="menuUrl" jdbcType="VARCHAR" />
    <result column="menu_name" property="menuName" jdbcType="VARCHAR" />
    <result column="icon_class" property="iconClass" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="VARCHAR" />
    <result column="active" property="active" jdbcType="VARCHAR" />
    <result column="leaf" property="leaf" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="VARCHAR" />
    <result column="insert_date" property="insertDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <collection property="childrenMenus" column="id" select="getChildrenMenus" />  
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, menu_url, menu_name, icon_class, level, state, sort, active, leaf, description, parent_id,
    insert_date, update_date
  </sql>

  <select id="getMenuById" parameterType="java.lang.String">
    select  <include refid="Base_Column_List" /> from sys_menu where id = #{menuId}
  </select>

  <select id="getChildrenMenus" parameterType="java.lang.String" resultMap="BaseResultMap">
      select * from sys_menu where parent_id = #{id} and active="Y" order by sort
  </select>

  <!-- 逻辑删除菜单信息 -->
  <update id="deleteMenuById" parameterType="java.lang.String">
  	update sys_menu set active="N" where id=#{menuId};
  </update>
  <!-- 根据查询条件查询对应的菜单集合 -->
  <select id="selectMenusByIds" resultMap="BaseResultMap" parameterType="java.util.List">
    select * from  sys_menu  where id in
    <foreach collection="menuIds" item="menuId" index="index"
             open="(" close=")" separator=",">
      #{menuId}
    </foreach>
    and active = "Y" order by sort
  </select>

  <select id="selectMenusPage" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/> from sys_menu
  </select>

  <sql id="pageSql">
    <if test="page != null">
      limit #{page.recordStart},#{page.pageSize}
    </if>
  </sql>

  <sql id="conditionSql">
    <where>
      <if test="condition!=null">
        <if test="condition.name!=null and condition.name!=''">
          and name like concat('%',#{condition.name,jdbcType=VARCHAR},'%')
        </if>
        <if test="condition.remark!=null and condition.remark!=''">
          and remark like concat('%',#{condition.remark,jdbcType=VARCHAR},'%')
        </if>
      </if>
    </where>
  </sql>

  <select id="selectPageCountByCondition" resultType="java.lang.Integer" parameterType="com.zhh.condition.dict.DictTypeCondition">
    select count(0) from sys_menu <include refid="conditionSql" />
  </select>

  <select id="selectPageList" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/> from sys_menu <include refid="conditionSql" /> <include refid="pageSql"/>
  </select>
</mapper>